---
import BaseLayout from '../layouts/BaseLayout.astro';
import { CardContainer } from '../components/CardContainer';
import { Card } from '@/components/Card';
---

<BaseLayout title='Home'>
  <div class='hero-section'>
    <div class='hero-background'>
      <div class='logo-container'>
        <img
          src='/images/bdb_logo_color_no_txt.png'
          alt='Brown Dog Biscuits Logo'
          class='main-logo'
        />
      </div>
      <div class='home-content'>
        <CardContainer className='featured-card-container'>
          <Card
            className='featured-card'
            title='Our Story'
            content='Brown Dog Biscuits is a family-owned business that specializes in making delicious, handcrafted biscuits for your furry friends.'
            ctaText='Learn More'
            ctaHref='/about'
            imageUrl='images/browndogbiscuits-logan-street-market.jpg'
            imageAlt='Brown Dog Biscuits at Logan Street Market'
          />
          <Card
            className='featured-card'
            title='Delicious Variety'
            content='Tested by our girls to be impawsible to resist. Great treats for all size dogs and uses, whether it be for training or a special treat.'
            ctaText='See our products'
            ctaHref='/products'
            imageUrl='/images/treats.jpg'
            imageAlt='Delicious Variety'
          />
          <Card
            className='featured-card'
            title='Purchase'
            content='Visit us at a local market or have them shipped to your home!'
            ctaText='Where to Purchase'
            ctaHref='/purchase'
            imageUrl='/images/browndogbiscuits-20240601_072554-2608879330.jpg'
            imageAlt='Purchase Options'
          />
        </CardContainer>
        <!-- Rest of the home page content -->
      </div>
    </div>
  </div>
</BaseLayout>
<style>
  .home-content {
    padding: 2rem 1rem;
  }
</style>
