---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Home'>
  <div class='hero-section'>
    <div class='hero-background'>
      <div class='logo-container'>
        <img
          src='/images/bdb_logo_color_no_txt.png'
          alt='Brown Dog Biscuits Logo'
          class='main-logo'
        />
      </div>
      <!-- Rest of the home page content -->
    </div>
  </div>
</BaseLayout>
